<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<a href="<%= edit_league_team_path(@league, @team) %>" button type="button" class="btn btn-primary">Edit</a>
<a href="<%= league_teams_path %>" button type="button" class="btn btn-secondary">Back</a>
